<%= render 'shared/nav_bar' %>

<div class="grid-two-columns">
  <%= render 'shared/sidebar' %>

  <div class="edit-account-container">
    <p class="container-title">Account Settings</p>
    <div class="div-separator"></div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'edit-account-form' }) do |f| %>
      <div class="edit-account-field">
        <h2>Change email</h2>
        <%= f.label :email, 'Email:' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'edit-account-text-field' %>
      </div>

      <div class="edit-account-field">
        <h2>Change Password</h2>

        <div>
          <%= f.label :password, 'Password:' %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'edit-account-text-field' %>

          <p class="edit-account-field-info">
            (leave blank if you don't want to change it)
            <% if @minimum_password_length %>
              <%= @minimum_password_length %> characters minimum
            <% end %>
          </p>
        </div>

        <div>
          <%= f.label :password_confirmation, 'Password Confirmation:' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'edit-account-text-field' %>
        </div>
      </div>

      <div class="edit-account-field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'edit-account-text-field' %>
        <p class="edit-account-field-info">we need your current password to confirm your changes</p>
      </div>

      <div class="edit-account-field">
        <%= f.submit "Update", class: 'edit-account-submit edit-account-button' %>
      </div>
    <% end %>

    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: 'edit-account-button cancel-account', method: :delete %>
  </div>
</div>

<%= javascript_pack_tag 'toggle_sidebar' %>