<div class="login-parent">

  <div class="login-container">
    <header class="login-header">
      <div class="login-logo">
        <p class="logo-text">Social media</p>
      </div>
      <h2 class="welcome-message">
        Connect and share with people in your life
      </h2>
    </header>

    <div class="login-form-container">
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), class: 'login-form' do |f| %>

        <div class="login-field-container">
          <%= f.text_field :name, placeholder: 'Name', autofocus: true, class: 'login-field login-input' %>
          <%= render partial: 'devise/shared/error_messages', locals: {resource: resource, symbol: :name} %>
        </div>

        <div class="login-field-container">
          <%= f.text_field :email, placeholder: 'Email', class: 'login-field login-input' %>
          <%= render partial: 'devise/shared/error_messages', locals: {resource: resource, symbol: :email} %>
        </div>

        <div class="login-field-container">
          <%= f.password_field :password, placeholder: 'password', class: 'login-field login-input' %>
          <%= render partial: 'devise/shared/error_messages', locals: {resource: resource, symbol: :password} %>
        </div>

        <div class="login-field-container">
          <%= f.password_field :password_confirmation, placeholder: 'confirm password', class: 'login-field login-input' %>
          <%= render partial: 'devise/shared/error_messages', locals: {resource: resource, symbol: :password_confirmation} %>
        </div>

        <div class="login-field-container">
          <%= f.submit 'Sign up', class: 'login-field login-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>