<%= render 'shared/nav_bar' %>

<div class="main-container">
  <%= render 'shared/sidebar' %>

  <div class="search-container">
    <%= render 'search_form' %>

    <% if @posts %>
    <div class="search-result-container">
      <div class="search-result-posts">
        <% @posts.each do |post| %>
          <%= render partial: 'posts/post', locals: { post: post } %>
        <% end %>
      </div>
    </div>
  <% end %>

  </div>

  <% if @users %>
    <div class="search-result-users">
      <% @users.each do |user| %>
        <%= render partial: 'users/user_card', locals: { user: user } %>
      <% end %>
    </div>
  <% end %>
</div>