<%= render 'shared/nav_bar' %>

<div class="main-container">
  <%= render 'shared/sidebar' %>

  <div class="search-container">
    <div class="search-form-container">

      <%= form_with url: '/search', method: :get, class: 'search-form' do |form| %>
        <%= form.text_field :query, placeholder: 'Search', class: 'search-bar' %>
        <%= button_tag type: :submit, class: 'search-button' do %>
          <%= material_icon.search.css_class('search-icon') %>
        <% end %>
      <% end %>

    </div>

    <% if @posts %>
    <div class="search-result-container">
      <div class="search-result-posts">
        <% @posts.each do |post| %>
          <%= render partial: 'posts/post', locals: { post: post } %>
        <% end %>
      </div>
    </div>
  <% end %>

  </div>

  <% if @users %>
    <div class="search-result-user">
      <% @users.each do |user| %>
        <%= render partial: 'users/user_card', locals: { user: user } %>
      <% end %>
    </div>
  <% end %>
</div>