<%= render 'shared/nav_bar' %>

<div class="main-container">
  <%= render 'shared/sidebar' %>

  <div class="search-container">
    <%= render 'search_form' %>

    <div class="search-result-container">
      <div class="container-titles">
        <p class="tab-button active" id="posts-tab">Posts</p>
        <p class="tab-button" id="users-tab">Users</p>
      </div>

      <div class="search-result-posts">
        <% @posts.each do |post| %>
          <%= render partial: 'posts/post', locals: { post: post } %>
        <% end %>
      </div>
    </div>

    <div class="search-result-users hidden">
      <% @users.each do |user| %>
        <%= render partial: 'users/user_card', locals: { user: user } %>
      <% end %>
    </div>

  </div>
</div>