<%= render 'shared/nav_bar' %>

<div class="grid-two-columns">
  <%= render 'shared/sidebar' %>

  <div class="search-container">
    <%= render 'search_form' %>

    <div class="search-result-container">
      <div class="container-titles">
        <p class="tab-button active" id="posts-tab">Posts</p>
        <p class="tab-button" id="users-tab">Users</p>
      </div>

      <div class="search-result-posts">
        <% unless @posts.nil? || @posts.empty? %>
          <% @posts.each do |post| %>
            <%= render partial: 'posts/post', locals: { post: post } %>
          <% end %>
        <% end %>
      </div>

      <div class="search-result-users hidden">
        <% unless @users.nil? || @users.empty? %>
          <% @users.each do |user| %>
            <%= render partial: 'users/user_card', locals: { user: user } %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'toggle_search_results' %>
<%= javascript_pack_tag 'toggle_sidebar' %>