<div class="user-card">
  <%= link_to user, class: 'align-center' do %>
    <%= image_tag user.profile_picture.variant(resize_to_limit: [200, 200]), class: 'user-profile-image-small friend-profile-image' %>
  <% end %>

  <div class="user-card-info">
    <%= link_to user, class: 'user-card-name' do %>
        <%= user.name %>
    <% end %>

    <% if current_user.sent_request_to?(user) %>
      <%= link_to "friend_requests/delete/#{current_user.friend_request_for_user(user).id}" do %>
        <%= material_icon.delete.css_class('nav-icon sidebar-icon') %>
      <% end %>

    <% elsif !current_user.friend?(user) && current_user != user %>
      <%= link_to "friend_requests/send/#{user.id}" do %>
        <%= material_icon.person_add.css_class('nav-icon sidebar-icon') %>
      <% end %>
    <% end %>
  </div>
</div>