<%= render 'shared/nav_bar' %>

<div class="profile-sidebar">
  <%= render 'shared/sidebar' %>
</div>

<div class="user-page-container">
  <div class="user-bio-and-images">
    <div class="gradient-container">
      <div class="user-display-images">
        <%= image_tag @user.cover_image, class: 'user-cover-image' %>
        <%= image_tag @user.profile_picture, class: 'user-profile-image' %>
      </div>
    </div>

    <div class="user-info-bio">
      <div class="user-info">
        <p class="user-name"><%= @user.name %></p>
        <p class="user-bio"><%= @user.bio %></p>
      </div>

      <%= render partial: 'user_links', locals: { user: @user } %>
    </div>
    
  </div>

  <div class="user-posts-and-friends">
    <div class="user-intro-container">
      <p class="container-title">Intro</p>

      <div class="user-intro">
        <% unless user_info_exists?(@user) %>
          <p class="user-intro-child">No info to show</p>
        <% end %>

        <% unless @user.birthday.nil? %>
          <p class="user-intro-child">
            <span class="user-intro-title">Birthday:</span> 
            <%= @user.birthday.strftime("%b %e") %>
          </p>
        <% end %>

        <% unless @user.current_city.nil? || @user.current_city.empty? %>
          <p class="user-intro-child">
            <span class="user-intro-title">Current city:</span>
            <%= @user.current_city %>
          </p>
        <% end %>
      </div>  
    </div>

    <div class="container-titles">
      <div class="tab-button js-toggle-tab active">Posts</div>
      <div class="tab-button js-toggle-tab">Friends</div>
    </div>

    <div class="user-friends hidden tab">
      <% @user.friends.each do |friend| %>
        <%= render partial: 'user_card', locals: { user: friend } %>
      <% end %>
    </div>

    <div class="user-posts tab">
      <% @user.posts.each do |post| %>
        <%= render partial: 'posts/post', locals: { post: post } %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'toggle_tabs' %>
<%= javascript_pack_tag 'toggle_sidebar' %>