<nav class="main-nav">
  <div class="logo-container">
    <%= link_to root_path do %>
      <p class="logo">Social media</p>
    <% end %>
  </div>


  <nav class="menu-buttons">
    <div class="menu-button">
      <%= link_to root_path do %>
        <%= material_icon.home.css_class('nav-icon') %>
      <% end %>
    </div>

    <div class="menu-button">
      <%= link_to '/search' do %>
        <%= material_icon.search.css_class('nav-icon') %>
      <% end %>
    </div>

    <div class="menu-button">
      <%= link_to '#' do %>
        <%= material_icon.notifications.css_class('nav-icon') %>
      <% end %>
    </div>

    <div class="menu-button">
      <%= link_to '#' do %>
        <%= material_icon.people.css_class('nav-icon') %>
      <% end %>
    </div>
  </nav>
  <nav class="user-buttons">
    <div class="user-button">
      <%= link_to destroy_user_session_path, method: :delete, class: 'logout' do %>
        <%= material_icon.close.css_class('nav-icon logout') %>
      <% end %>
    </div>
    <div class="user-button">
      <%= link_to '#' do %>
        <%= image_tag current_user.profile_picture, size: '30x30', class: 'user-profile-image' %>
      <% end %>
    </div>
  </nav>
</nav>