<nav class="main-nav">
  <div class="logo-container">
    <%= link_to root_path do %>
      <p class="logo">Social media</p>
    <% end %>
  </div>


  <nav class="menu-links">
    <div class="menu-link">
      <%= link_to root_path do %>
        <%= material_icon.home.css_class('nav-icon') %>
      <% end %>
    </div>

    <div class="menu-link">
      <%= link_to '/search' do %>
        <%= material_icon.search.css_class('nav-icon') %>
      <% end %>
    </div>

    <div class="menu-link">
      <%= link_to '#' do %>
        <%= material_icon.notifications.css_class('nav-icon') %>
      <% end %>
    </div>

    <div class="menu-link">
      <%= link_to '/friends' do %>
        <%= material_icon.people.css_class('nav-icon') %>
      <% end %>
    </div>

    <div class="menu-link hamburger">
      <span class="hamburger-open">
        <%= material_icon.menu.css_class('nav-icon') %>
      </span>

      <span class="hamburger-close">
        <%= material_icon.close.css_class('nav-icon') %>
      </span>
    </div>
  </nav>
</nav>