<div class="friend-request-container">
  <%= image_tag friend_request.sender.profile_picture, class: 'friend-request-image' %>
  <div class="friend-request-info">
    <%= link_to friend_request.sender do %>
      <p class="friend-request-name">
        <%= friend_request.sender.name %>
      </p>
    <% end %>
    
    <%= link_to 'Confirm', "/friend_requests/accept/#{friend_request.id}", class: "green-bg friend-request-link" %>
    <%= link_to 'Delete', "/friend_requests/delete/#{friend_request.id}", class: "light-green-bg friend-request-link" %>
  </div>
</div>