<div class="post-container">
  <div class="post-info">
    <%= image_tag current_user.profile_picture, size: '30x30', class: 'user-profile-image' %>
    <div class="post-user">
      <p class="post-user-name"><%= post.user.name %></p>
    </div>
    <p class="post-time"><%= post_time(post) %> ago</p>
  </div>

  <p class="post-text"><%= post.body %></p>

  <div class="post-buttons">
    <%= render partial: 'like_button', locals: {post: post} %>
    
    <div class="comment-button">
      <%= link_to post do %>
        <%= material_icon.chat_bubble_outline %> 
        <%= post.comments.count if post.comments.count.positive? %>
      <% end %>
    </div>
  </div>
</div>