<div class="post-form-container">
  <h3 class="post-form-title">Create Post</h3>
  <div class="post-form-separator"></div>

  <%= form_with model: post, class: 'post-form' do |f| %>
    <div class="post-user-info">
      <%= image_tag current_user.profile_picture, size: '30x30', class: 'user-profile-image-small' %>
      <p class="post-form-user-name"><%= current_user.name %></p>
    </div>
    <div class="post-textarea">
      <%= f.text_area :body, placeholder: 'What\'s on your mind', class: 'post-test-field' %>
    </div>
    <div class="post-form-images">
    </div>

    <div class="post-attachment-buttons">
      <p class="attachment-info">Add to your post</p>
      <div class="image-field">
        <%= f.label :images, class: 'post-image-field-label' do |builder| %>
          <%= material_icon.image.md_36 %>
        <% end %>
        <%= f.file_field :images, class: 'image-input', multiple: true, accept: 'image/*' %>
      </div>
    </div>

    <%= f.submit 'Post', class: 'post-form-button' %>
  <% end %>
</div>

<%= javascript_pack_tag 'post_form' %>