<div class="post-container">
  <div class="post-info">
    <%= image_tag current_user.profile_picture, size: '30x30', class: 'user-profile-image-small' %>
    <div class="post-user">
      <%= link_to post.user do %>
        <p class="post-user-name"><%= post.user.name %></p>
      <% end %>

      <p class="post-time"><%= post_time(post) %> ago</p>
    </div>
  </div>
  
  <div class="post-body">
    <p class="post-text">
      <%= post.body %>
    </p>

    <% if post.images.attached? %>
      <div class="post-images">
        <% post.images.each do |image| %>
          <div class="post-image">
            <%= image_tag image %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="post-buttons">
    <%= render partial: 'likes/like_button', locals: {post: post} %>
    
    <div class="comment-button">
      <%= link_to post do %>
        <%= material_icon.chat_bubble_outline %> 
        <%= post.comments.count if post.comments.count.positive? %>
      <% end %>
    </div>
  </div>
</div>