<div class="sidebar">
  <div class="sidebar-child">
    <%= link_to '#' do %>
      <p class="sidebar-text"><%= current_user.name %></p>
    <% end %>
  </div>

  <div class="sidebar-child">
    <%= link_to '#' do %>
      <p class="sidebar-text">Friend requests</p>
    <% end %>
  </div>

  <div class="sidebar-child">
    <%= link_to '#' do %>
      <p class="sidebar-text">Messages</p>
    <% end %>
  </div>

  <div class="sidebar-child">
    <%= link_to '#' do %>
      <p class="sidebar-text">Create a post</p>
    <% end %>
  </div>
</div>