<%= render 'shared/nav_bar' %>

<div class="main-container">
  <%= render 'shared/sidebar' %>

  <div class="post-with-comments">
    <%= render partial: 'post', locals: { post: @post } %>
    
    <div class="comments-and-form">
      <%= render partial: 'comments/comment_form', locals: { post: @post } %>
      <%= render partial: 'comments/comments', locals: { comments: @post.comments } %>
    </div>
  </div>
</div>